<!DOCTYPE html>
<html>
<head>
  <title>Nerdz</title>
  <%= stylesheet_link_tag    "nerdz/application", :media => "all" %>
  <%= javascript_include_tag "nerdz/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
